body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-color: #282c34;
  color: azure;
  min-height: 100%;
}

.icon {
  background-color: #223951;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 5px;
}

.selectable {}

.selectable:hover {
  background-color: #565758;
}

.icon-options-wrapper {
  background-color: #223951;
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
  margin: 5px;
}

.product-buttons-wrapper {
  position: relative;
  float: right;
}

.input {
  width: 100%;
  font-size: 17px;
  height: 40px;
  padding-left: 10px;
  background-color: #223951;
  border: 1px solid #565758;
  border-radius: 5px;
  margin: 5px;
}

.product-list-item {
  width: 90%;
  padding-left: 10px;
  position: absolute;
  background-color: #223951;
  border-radius: 5px;
  margin-bottom: 5px;
}

.product-list-description {
  position: relative;
  display: inline-block;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  background-color: #282c34;
  padding: 20px;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  text-align: center;
}

.right {
  right: 0;
  background-color: #282c34;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}